%meta{:charset => 'UTF-8'}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

%script{:src => 'assets/vendor/jquery/dist/jquery.min.js'}
%script{:src => 'assets/vendor/jquery-ui/jquery-ui.min.js'}
%script{:src => 'assets/vendor/marked/marked.min.js'}
%script{:src => 'assets/vendor/Umi/dist/js/bootstrap.min.js'}
%script{:src => 'assets/vendor/moment/min/moment-with-locales.min.js'}

%link{:rel => 'stylesheet', :href => 'assets/vendor/jquery-ui/themes/base/jquery-ui.min.css'}
%link{:rel => 'stylesheet', :href => 'assets/vendor/Umi/dist/css/bootstrap.min.css'}
%link{:rel => 'stylesheet', :href => 'assets/vendor/font-awesome/css/font-awesome.min.css'}
%link{:rel => 'stylesheet', :href => 'assets/css/style.css'}
